[Desktop Entry]
Name=Metadata Anonymisation Toolkit
GenericName=Metadata Anonymisation Toolkit
Version=1.0
Type=Application
Exec=mat-gui
Terminal=false
Categories=Application;Utility;Security
Icon=logo.png
